services:
  tower:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tower
    ports:
      - "5900:5000"
    environment:
      APP_ENV: ${APP_ENV}
    restart: unless-stopped