services:
  tower:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tower
    ports:
      - "5000:5000"
    environment:
      APP_ENV: development
    restart: unless-stopped