/* ======================================== */
/* ======== VARIABLES */

/* light theme */

@media (prefers-color-scheme:no-preference),
(prefers-color-scheme:light) {
    :root {
        --background-body: radial-gradient(circle, #5585b5, #8aa0c7, #b6bed9, #ddddec, #fff);
        --background-app: white;
        --background-character: #262931;
        --text-main: black;
        --text-character: white;
        --start-title-border: black;
        --start-input-border: black;
        --start-input-text: #262931;
        --button-color-0: indianred;
        --button-color-3: #262931;
    }
}

/* dark theme */

@media (prefers-color-scheme:dark) {
    :root {
        --background-body: radial-gradient(circle, #262931, #212026, #1a171b, #110e10, #000);
        --background-app: #262931;
        --background-character: black;
        --text-main: white;
        --text-character: white;
        --start-title-border: white;
        --start-input-border: white;
        --start-input-text: white;
        --button-color-0: white;
        --button-color-3: black;
    }
}

/* all themes */

:root {
    --error-color: red;
    --background-header: black;
    --background-gameover: indianred;
    --background-menu: #262931;
    --text-link: lightcoral;
    --text-red: #AA6373;
    --text-green: #7FB285;
    --text-header: white;
    --text-menu: white;
    --button-color-1: white;
    --button-color-2: indianred;
    --progress-background: lightgrey;
    --progress-text: #262931;
    --progress-health: indianred;
    --progress-xp: lightskyblue;
    --start-input-background: transparent;
    --transparency: rgba(0, 0, 0, 0.9);
}

/* ======================================== */
/* ======== MAIN */

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    color: var(--text-main);
    background-image: var(--background-body);
}

#app {
    display: flex;
    flex-direction: column;
    margin: 0 32vw;
    min-height: 100vh;
    background-color: var(--background-app);
}

.container {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

button,
input {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: var(--text-link);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

@media (max-width:1024px) {

    html,
    body {
        font-size: 0.9em;
    }

    button:active,
    button:focus,
    input:active,
    input:focus {
        outline: 0 !important;
    }

    #app {
        margin: 0;
        border: 0;
        border-radius: 0;
    }
}

/* ======================================== */
/* ======== BUTTON */

.button_list {
    display: flex;
}

.button_list_menu {
    justify-content: space-evenly;
}

button {
    padding: 2vh;
    border: 0;
    color: var(--button-color-1);
    background-color: var(--button-color-3);
    transition: all 0.5s ease-out;
    cursor: pointer;
}

button:hover {
    color: var(--button-color-2);
}

/* action buttons */

.button_action {
    width: 15vw;
    height: 8vh;
    margin: 1vh;
    border-radius: 30px;
    font-size: 1em;
}

.button_action:hover {
    font-size: 1.2em;
    color: var(--button-color-1);
}

/* menu buttons */

.menu_button {
    margin: 0 0.5vw;
    min-width: 10vw;
    border-radius: 30px;
    font-size: 1.5em;
    background-color: var(--button-color-2);
}

.menu_button:hover {
    background-color: var(--button-color-1);
}

/* popup buttons */

.popup_button {
    width: 50%;
    padding: 1vh;
    border: 0;
    border-radius: 0;
    border-radius: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--button-color-3);
    background-color: var(--button-color-1);
}

.popup_button:hover {
    opacity: 0.7;
}

#popup_accept {
    border-radius: 0 0 0 10px;
    color: var(--button-color-1) !important;
    background-color: var(--button-color-2) !important;
}

.disabled,
.disabled:hover {
    color: var(--button-color-1) !important;
    opacity: 0.5 !important;
    background-color: var(--button-color-3) !important;
    cursor: not-allowed !important;
}

#play {
    width: 15vw;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 1.5em;
}

@media (max-width:1024px) {
    #play {
        min-width: 50vw;
        font-size: 1.2em;
    }

    .button_action {
        width: 45vw;
        font-size: 1em;
    }

    .button_action:hover {
        font-size: 1em;
    }

    .menu_button {
        min-width: 18vw;
    }

    .menu_button:hover {
        color: var(--button-color-1);
        background-color: var(--button-color-2);
    }
}

/* ======================================== */
/* ======== HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--text-header);
    background-color: var(--background-header);
}

#tower {
    flex-grow: 1;
    text-align: center;
}

@media (max-width:1024px) {
    header {
        border-radius: 0;
        font-size: 1.5em;
        letter-spacing: 2px;
    }
}

/* ======================================== */
/* ======== TITLE SCREEN */

#title_screen {
    align-items: unset !important;
    text-align: center;
    font-size: 1.2em;
}

#title_logo {
    width: 30%;
    height: 25vh;
    margin: auto;
}

#title_text {
    padding: 1vh 0;
    border-top: 1px solid var(--start-title-border);
    border-bottom: 1px solid var(--start-title-border);
    font-size: 1.3em;
}

#title_character {
    width: 30vw;
    margin: 4vh 0;
    padding: 0;
    border: 0;
    border-bottom: 2px solid var(--start-input-border);
    text-align: center;
    font-size: 1.5em;
    color: var(--start-input-text);
    background-color: var(--start-input-background);
}

#title_tip {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 0 2vw;
    text-align: justify;
}

#title_footer {
    margin: 0;
    padding: 2vh;
    font-size: 0.8em;
    color: var(--text-header);
    background-color: var(--background-header);
}

@media (max-width:1024px) {
    #title_logo {
        height: 20vh;
    }

    #title_character {
        width: 80vw;
    }

    #title_tip {
        padding: 3vh;
    }

    #title_footer {
        border-radius: 0;
    }
}

/* ======================================== */
/* ======== GAME MESSAGE  */

#information {
    padding: 2vh;
    font-size: 2em;
    user-select: none !important;
}

#information .important {
    font-size: 2em;
    font-weight: bold;
}

@media (max-width:1024px) {
    #information .bigger {
        font-size: 1.5em;
    }
}

/* ======================================== */
/* ======== GAME SCREEN  */

#board {
    align-items: unset;
    font-size: 1.3em;
}

#game {
    flex-grow: 1;
    padding: 1vh 0.5vw;
    text-align: center;
}

.bad_information {
    color: var(--text-red);
}

.good_information {
    color: var(--text-green);
}

#container_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

#container_img img {
    max-height: 25vh;
    min-height: 15vh;
}

/* character information */

#character {
    margin: 1vh 1vw 4vh 1vw;
    border-radius: 15px;
    color: var(--text-character);
    background: var(--background-character);
}

.character_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.8vh 0;
}

.character_element {
    display: flex;
    align-items: center;
    margin: 0.5vh 0.5vw;
    padding: 0 1vh;
}

.character_element img {
    width: 32px;
    padding-right: 0.5vw;
}

/* progress bar */

.progress {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 25px;
    margin: 1vh;
    border-radius: 4px;
    color: var(--progress-text);
    background: var(--progress-background);
}

.progress_data {
    z-index: 1;
    position: absolute;
    font-size: 0.8em;
    font-weight: bold;
}

.progress_bar {
    display: block;
    position: absolute;
    left: 0;
    border-radius: 4px;
    font-size: 0.95em;
    transition: normal 1s ease-in-out;
}

#health {
    background-color: var(--progress-health);
}

#xp {
    background-color: var(--progress-xp);
}

/* character action */

.actions_line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:1024px) {
    #board {
        padding: 0;
    }

    #game {
        padding: 1vh 5vw;
    }

    #character {
        margin: 1vh;
        padding: 0.8vh 0;
        font-size: 0.9em;
    }

    .character_line {
        padding: 0.5vh 0;
    }

    .character_element img {
        width: 25px;
    }

    .progress {
        width: 40vw;
    }

    .progress_bar {
        height: 25px;
    }
}

/* ======================================== */
/* ======== MENU */

#open_menu {
    display: none;
    visibility: hidden;
    padding: 1vh;
    transition: none;
    background-color: transparent;
}

#blank_menu {
    display: none;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparency);
}

#menu {
    display: none;
    z-index: 3;
    position: absolute;
    flex-direction: column;
    height: 98%;
    width: 36vw;
    margin-top: 0.8vw;
    border-radius: 20px;
    color: var(--text-menu);
    background-color: var(--background-menu);
}

.menu_title {
    margin: 2vh 0 2vh 2vh;
    border-bottom: 2px solid var(--text-menu);
    font-size: 2em;
}

.menu_title:first-child {
    margin-top: 5vh;
}

#list_stats {
    flex-grow: 1;
    line-height: 1.75em;
    list-style: square;
    font-size: 1.2em
}

#menu_footer {
    text-align: center;
}

@media (max-width:1024px) {
    #open_menu {
        width: 10vw;
    }

    #open_menu img {
        width: 100%;
    }

    #menu {
        top: 0;
        right: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        font-size: 1.1em;
    }
}

/* ======================================== */
/* ======== POPUP */

#blank_popup {
    display: none;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparency);
}

#popup {
    display: none;
    z-index: 4;
    position: absolute;
    top: 38%;
    right: 38%;
    flex-direction: column;
    width: 25vw;
    margin-left: 20vh;
    border-radius: 20px;
    color: var(--text-menu);
    background-color: var(--background-menu);
}

#popup_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 2vh;
}

#popup_text {
    margin: 0;
    padding-bottom: 2vh;
    text-align: justify;
    font-size: 1.2em;
}

@media (max-width:1024px) {
    #popup {
        top: 35vh;
        right: 2vw;
        width: 96vw;
        height: 25vh;
    }
}
