/* ======================================== */
/* ======== VARIABLES */

/* light theme */

@media (prefers-color-scheme:no-preference),
(prefers-color-scheme:light) {
    :root {
        --background-body: radial-gradient(circle, #5585b5, #8aa0c7, #b6bed9, #ddddec, #fff);
        --background-app: white;
        --background-character: #262931;
        --text-main: black;
        --text-character: white;
        --start-title-border: black;
        --start-input-border: black;
        --start-input-text: #262931;
        --button-color-0: indianred;
        --button-color-3: #262931;
    }
}

/* dark theme */

@media (prefers-color-scheme:dark) {
    :root {
        --background-body: radial-gradient(circle, #262931, #212026, #1a171b, #110e10, #000);
        --background-app: #262931;
        --background-character: black;
        --text-main: white;
        --text-character: white;
        --start-title-border: white;
        --start-input-border: white;
        --start-input-text: white;
        --button-color-0: white;
        --button-color-3: black;
    }
}

/* all themes */

:root {
    --error-color: red;
    --background-header: black;
    --background-gameover: indianred;
    --background-menu: #262931;
    --text-link: lightcoral;
    --text-red: #AA6373;
    --text-green: #7FB285;
    --text-header: white;
    --text-menu: white;
    --button-color-1: white;
    --button-color-2: indianred;
    --progress-background: lightgrey;
    --progress-text: #262931;
    --progress-health: indianred;
    --progress-xp: lightskyblue;
    --start-input-background: transparent;
    --transparency: rgba(0, 0, 0, 0.9);
}

/* ======================================== */
/* ======== MAIN */

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    color: var(--text-main);
    background-image: var(--background-body);
}

#app {
    display: flex;
    flex-direction: column;
    margin: 0 32vw;
    min-height: 100vh;
    background-color: var(--background-app);
}

button,
input {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: var(--text-link);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

@media (max-width:1024px) {
    html,
    body {
        font-size: 0.9em;
    }

    button:active,
    button:focus,
    input:active,
    input:focus {
        outline: 0 !important;
    }

    #app {
        margin: 0;
        border: 0;
        border-radius: 0;
    }
}

/* ======================================== */
/* ======== BUTTON */

button {
    padding: 2vh;
    border: 0;
    color: var(--button-color-1);
    background-color: var(--button-color-3);
    transition: all 0.5s ease-out;
    cursor: pointer;
}

button:hover {
    color: var(--button-color-2);
}

.popup_button {
    width: 50%;
    padding: 1vh;
    border: 0;
    border-radius: 0;
    border-radius: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--button-color-3);
    background-color: var(--button-color-1);
}

.popup_button:hover {
    opacity: 0.7;
}

#popup_accept {
    border-radius: 0 0 0 10px;
    color: var(--button-color-1) !important;
    background-color: var(--button-color-2) !important;
}

.disabled,
.disabled:hover {
    color: var(--button-color-1) !important;
    opacity: 0.5 !important;
    background-color: var(--button-color-3) !important;
    cursor: not-allowed !important;
}

@media (max-width:1024px) {
    .menu_button {
        min-width: 18vw;
    }

    .menu_button:hover {
        color: var(--button-color-1);
        background-color: var(--button-color-2);
    }
}

/* ======================================== */
/* ======== GAME SCREEN  */

.bad_information {
    color: var(--text-red);
}

.good_information {
    color: var(--text-green);
}

#container_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

#container_img img {
    max-height: 25vh;
    min-height: 15vh;
}

/* ======================================== */
/* ======== POPUP */

#blank_popup {
    display: none;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparency);
}

#popup {
    display: none;
    z-index: 4;
    position: absolute;
    top: 38%;
    right: 38%;
    flex-direction: column;
    width: 25vw;
    margin-left: 20vh;
    border-radius: 20px;
    color: var(--text-menu);
    background-color: var(--background-menu);
}

#popup_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 2vh;
}

#popup_text {
    margin: 0;
    padding-bottom: 2vh;
    text-align: justify;
    font-size: 1.2em;
}

@media (max-width:1024px) {
    #popup {
        top: 35vh;
        right: 2vw;
        width: 96vw;
        height: 25vh;
    }
}
