<div id="blank_menu"></div>

<div id="menu">
    <h1 id="settings_title" class="menu_title"></h1>
    <div class="button_list button_list_menu">
        <button class="menu_button" id="volume_button"></button>
        <button class="menu_button" id="confirm_restart"><i class="fas fa-fast-backward"></i></button>
        <button class="menu_button" id="confirm_delete"><i class="fas fa-sign-out-alt"></i></button>
    </div>

    <h1 id="stats_title" class="menu_title"></h1>
    <ul id="list_stats"></ul>

    <p id="menu_footer"></p>
</div>