<div id="title_screen" class="container">
    <img id="title_logo" src="assets/image/event/tower.png">
    <h1 id="title_text"></h1>

    <form>
        <input 
            type="text" 
            id="title_character" 
            pattern="^[A-Za-z' -]{2,25}(?:[ -][A-Za-z' -]{2,25})?$" 
            required
        >
        <button 
            type='submit'
            id="play"
            onclick="return false">
    </button>
    </form>

    <p id="title_tip"></p>
    <p id="title_footer"></p>
</div>